<%= simple_form_for(@print, html: { class: 'form-horizontal'}) do |f| %>
  <% if @print.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@print.errors.count, "error") %> prohibited this print from being saved:</h2>

      <ul>
      <% @print.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :image %>
    
    <%= f.input :name %>

	<%= f.input :size %>
    
    <%= f.input :process %>

    <%= f.input :paper %>

    <%= f.input :press, :collection => ['Bookbinding', 'Washington Iron Hand', 'Vandercook 320g'] %>

    <%= f.input :ebeans %>

	<%= f.input :paypal %>

	<%= f.input :release_date, { :start_year => 1995 } %>

  <div class="form-actions">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
