<div class="container">
	<div class="row">
	
	<div class="span7"> <%= image_tag (@print.image) %> </div>

  	<div class="span5"> <p><h3><%= @print.name %></h3></p>
  	<p><h4><%= @print.year %></h4></p>

  	<p><%= @print.process %> print on <%= @print.paper %> paper. Run of <%= @print.run_size %>. Printed on <%= @print.press %> press</p>

	<% unless @print.ebeans.blank? %>
		<a href="http://expressobeans.com/public/detail.php/<%= @print.ebeans %>">Expressobeans Page</a>
	<% end %>

	<% if user_signed_in? %>
        <p>
			<%= link_to 'Edit', edit_print_path(@print) %> |
			<%= link_to 'Back', prints_path %>
		</p>
	<% end %>
</div>
</div>
</div>



